<mat-card>
    <mat-card-header>
        <mat-card-title>{{unicorn.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{unicorn.photo}}" alt="">
    <mat-card-content>
        <p>
            birthyear: {{unicorn.birthyear}}
        </p>
        <ul>
            <li *ngFor="let hooby of unicorn.hobbies">
                {{hooby}}
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button (click)="deleteMe()" >DELETE</button>
        <button mat-icon-button (click)="favMe()" [color]="getColor()">
            <mat-icon>favorite</mat-icon>

        </button>

    </mat-card-actions>
</mat-card>
